.main{
    display : flex;
    flex-direction : column;
    text-align: center;
    justify-content: center;
}

.box{
    margin-top : 10px;
}

.sbutton{
    background-color : rgb(255, 125, 19);
    margin : 20px 20px 20px 20px;
}

.login{
    margin-top : 10px;
}