<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/home.css">
  <title>Register</title>
</head>
<body class="one">
  <style>
        .one{
        display : flex;
        flex-direction : row;
        justify-content: center;
        align-items: center;
        background-color: rgb(233, 233, 233);
    }

    .main{
        display : flex;
        flex-direction : column;
        text-align: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        height : 700px;
        width : 440px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 3px;
    }

    .box{
        margin-top : 10px;
        margin-left : 0px;
        margin-bottom : 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
    }

    .sbutton{
        background-color : rgb(222, 135, 104);
        color : white;
        padding: 10px 10px 10px 10px;
        border-style: none;
        margin-top : 4px;
        width : 380px;
        height : 45px;
        border-radius : 4px;
        font-size: 15px;
    }

    .ek{
      height : 45px;
      width : 380px;
      padding : 10px 10px 10px 10px;
      margin : 5px 5px 5px 5px;
      border-style : solid;
      border-width : 1px;
      border-radius : 4px;
      border-color : rgb(214, 214, 214);
      border-width: 1.5px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      color: rgb(203, 203, 203);
    }

    .login{
        margin-top : 5px;
    }

    .class{
        display : flex;
        flex-direction : column;
    }

    .lower{
        background-color: rgb(255, 255, 255);
        height : 40px;
        display : flex;
        flex-direction : row;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 50px;
    }

    .fd{
        margin-left : 30px;
        color : gray;
    }

    .su{
        margin-right : 30px;
        color : gray;
    }

    .footer{
        margin-top : 100px;
    }

    .login{
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      text-decoration: none;
      color: gray;
    }

    .aye{
      margin-top : 0px;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      color: gray;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  </style>

  <form action="http://localhost:5554/user/register" method="post">
    <div class="main">
      <div class="box"><input class="ek" type="text" placeholder="First Name" name="FirstName"></div>
      <div class="box"><input class="ek" type="text" placeholder="Last Name" name="LastName"></div>
      <div class="box"><input class="ek" type="text" placeholder="Email" name="email"></div>
      <div class="box"><input class="ek" type="text" placeholder="Password" name="password"></div>
      <div class="box"><input class="sbutton" type="submit" value="Make New Account"></div>
      <div class="aye">
        <a href="/views/login.ejs" class="login">Have an Account?</a>
        <p>Sign In</p>
      </div>
    </div>    
  </form>
</body>
</html>
