<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/home.css">
  <title>Register</title>
</head>
<body class="one">
  <form action="http://localhost:5554/user/register" method="post">
    <div class="main">
      <div class="box"><input type="text" placeholder="First Name" name="FirstName"></div>
      <div class="box"><input type="text" placeholder="Last Name" name="LastName"></div>
      <div class="box"><input type="text" placeholder="Email" name="email"></div>
      <div class="box"><input type="text" placeholder="Password" name="password"></div>
      <div><input class="sbutton" type="submit" value="Make New Account"></div>
      <a href="/views/login.ejs" class="login">Already Have an Account</a>
    </div>    
  </form>
</body>
</html>
