<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body class="one">
    <style>
    .one{
        display : flex;
        flex-direction : row;
        justify-content: center;
        align-items: center;
        background-color: rgb(210, 210, 210);
        margin-bottom : 80px;
    }

    .main{
        display : flex;
        flex-direction : column;
        text-align: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        height : 600px;
        width : 440px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 3px;
    }

    .box{
        margin-top : 10px;
        margin-left : 0px;
        margin-bottom : 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
    }

    .sbutton{
        background-color : rgb(105, 109, 230);
        color : white;
        padding: 10px 10px 10px 10px;
        border-style: none;
        margin-top : 4px;
        width : 380px;
        height : 50px;
        border-radius : 4px;
        font-size: 15px;
    }

    .ek{
      height : 45px;
      width : 380px;
      padding : 10px 10px 10px 10px;
      margin : 5px 5px 5px 5px;
      border-style : solid;
      border-width : 1px;
      border-radius : 4px;
      border-color : rgb(214, 214, 214);
      border-width: 1.5px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
    }

    .login{
        margin-top : 5px;
    }

    .class{
        display : flex;
        flex-direction : column;
    }

    .lower{
        background-color: rgb(255, 255, 255);
        height : 40px;
        display : flex;
        flex-direction : row;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 50px;
    }

    .fd{
        margin-left : 30px;
        color : gray;
    }

    .su{
        margin-right : 30px;
        color : gray;
    }

    .footer{
        margin-top : 100px;
    }
    </style>
    <form action="http://localhost:5554/user/login" method="post">
        <div class="class">
            <div class="main">
                <div class="box"><input class="ek" type="text" placeholder="E-mail" name="email"></div>
                <div class="box"><input class="ek" type="text" placeholder="Password" name="password"></div>
                <div class="box"><input class="sbutton" type="submit" value="Sign In"></div>
                <div class="lower">
                    <div class="fd">Forgot Password?</div>
                    <div class="su">Sign Up</div>
                </div>
            </div>
        </div>
    </form>

    <footer class="footer">

        <script>
            function validateForm(event) {
                // Prevent the form from submitting by default
                event.preventDefault();
    
                // Get values from the form
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;
    
                // Regular expressions for validation
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;
    
                // Reset error messages
                document.getElementById('emailError').textContent = '';
                document.getElementById('passwordError').textContent = '';
    
                // Validate email
                if (!emailRegex.test(email)) {
                    document.getElementById('emailError').textContent = 'Invalid email format';
                    return;
                }
    
                // Validate password
                if (!passwordRegex.test(password)) {
                    document.getElementById('passwordError').textContent = 'Password must have at least 8 characters, one uppercase letter, one lowercase letter, and one digit';
                    return;
                }
    
                // If validation passes, you can proceed with submitting the form or any other action
                // For example, you can submit the form programmatically:
                // document.getElementById('loginForm').submit();
            }
    </script>
    </footer>
</body>
</html>