<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body class="main">
    <style>
        .main{
            display : grid;
            flex-direction : column;
            grid-template-columns: 1fr 1fr 1fr;
            /* justify-content: center;
            align-items: center; */
            margin-left : 290px;
            margin-top : 100px;
        }

        .heading{
            font-family: Arial, Helvetica, sans-serif;
        }

        .product{
            height : 200px;
            width : 400px;
            background-color: rgb(255, 255, 255);
            margin-top : 20px;
            margin-right : 10px;
            display : flex;
            flex-direction : row;
        }

        .product-1{
            height : 200px;
            width : 200px;
            border-radius : 10px;
            background-color: rgb(195, 195, 195);
        }


        .product-1:hover{
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            border-radius : 10px;
        }

        .product-2{
            height : 200px;
            width : 200px;
            background-color: rgb(133, 193, 230);
        }

        .p-21{
            height : 150px;
            width : 250px;
            background-color: rgb(255, 255, 255);
        }

        .p-22{
            height : 50px;
            width : 250px;
            background-color: rgb(255, 255, 255);
            font-family: Arial, Helvetica, sans-serif;
            display : flex;
            align-items: center;
            justify-content: space-between;
        }

        .product-name{
            font-family: Arial, Helvetica, sans-serif;
            display : flex;
            flex-direction : row;
            margin-left : 10px;
            font-weight : bold;
        }

        .product-desc{
            font-family: Arial, Helvetica, sans-serif;
            margin-left : 10px;
            color : gray;
            font-size : small;
        }

        .fuck{
            margin-left : 10px;
            border-style: solid;
            border-color: gray;
            border-width : 1px;
            background-color: white;
            font-family: Arial, Helvetica, sans-serif;
            padding-left : 14px;
            padding-right : 14px;
            padding-top : 4px;
            padding-bottom : 4px;
            border-radius : 11px;
        }

        .fuck2{
            margin-right : 20px;
            padding : 8 8 8 8;
            border-style : none;
            color : white;
            background-color: rgb(77, 152, 226);
            font-family: Arial, Helvetica, sans-serif;
            font-weight : bold;
        }

        .wishlist{
            height : 35px;
            width : 35px;
            border-radius : 50%;
            border-style: none;
            position : relative;
            top : 5px;
            left : 155px;
        }

        .left{
            position : fixed;
            left : 0px;
            bottom : 0px;
            top : 80px;
            width : 265px;
            background-color: rgb(238, 214, 214);
        }

        .top{
            display : flex;
            flex-direction : row;
            position : fixed;
            left : 0px;
            right : 0px;
            top : 0px;
            height : 100px;
            z-index: 100;
            background-color: rgb(143, 220, 241);
        }

        .one{
            background-color: rgb(143, 220, 241);
            height : 100px;
            width : 200px;
        }

        .two{
            background-color: rgb(143, 220, 241);
            height : 100px;
            width : fr;
        }

        .logo{
            height : 200px;
            width : 200px;
        }

        .search-1{
            display : flex;
            flex-direction: row;
            margin-left : 400px;
            margin-top : 25px;
        }

        .input {
            height: 40px;
            width: 400px;
            padding-left: 20px;
            border-style: none;
            background-color: rgb(232, 232, 232);
            color: black;
        }

        .btn {
            height: 40px;
            width: 100px;
            border-style: none;
        }

        #searchResults {
            margin-top: 20px;
        }

        .feature{
            margin : 0px 0px 0px 0px;
            width : 0px;
        }

    </style>
    <!-- <h1 class="heading">Profile</h1> -->

    <div class="top">
        <div class="one">
        </div>
        <div class="two">
            <div class="search-1">
                <input class="input" type="text" placeholder="Search" name="search" id="searchInput">
                <button class="btn" type="button" onclick="submitForm()">Search</button>
            </div>
        </div>
    </div>
    <div class="left">
    </div>

    <div class="feature" id="searchResults"></div>

    <% if (user.products && user.products.length > 0) { %>
        <% user.products.forEach((product, index) => { %>
            <div class="product">
                <div class="product-1">
                    <img src="/Users/shivansh/Desktop/S-Commerce/kitty.jpeg" alt="">
                    <button class="wishlist"><img src="./heart.jpeg" alt=""></button>
                </div>
                <div class="product-2">
                    <div class="p-21">
                        <div class="product-name">
                            <p style="margin-top : 5px;"><%= product.name %></p>
                        </div>
                        <div class="product-desc">
                            <p>• <%= product.description %></p>
                        </div>
                    </div>
                    <div class="p-22">
                        <button class="fuck">$<%= product.price %></button>
                        <button class="fuck2">Add to cart</button>
                    </div>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <p>No profile data found</p>
    <% } %>

    <style>
        .shift{
            position : fixed;
            left : 40%;
            right : 50%;
            bottom : 15%;
            height : 70px;
            width : 300px;
            background-color: rgb(217, 236, 236);
            opacity: 80%;
            border-radius : 20px;
            display : flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .shift1{
            height : 50px;
            width : 110px;
            border-radius : 10px;
            margin-left : 10px;
            margin-top : 10px;
            margin-bottom : 10px;
            margin-right : 10px;
            border-style : none;
        }
    </style>

    <div class="shift">
        <button class="shift1">Market</button>
        <button class="shift1">Trends</button>
        <button class="shift1">Rent</button>
    </div>

    <style>
            .twitter-personalprofile{
                width : 55px;
                height : 55px;
                border-radius : 50px;
                object-fit: cover;
                margin-top : 10px;
                margin-bottom: 10px;
            }
            .name{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                font-weight: bold;
            }
            .username{
                margin-left : 10px;
                font-family : Arial, Helvetica, sans-serif;
                font-size : 13px;
                color : rgb(96 , 96 , 96 );
            }
            .twitter-options{
                margin-bottom: 0px;
                margin-left : 100px;
                display: inline-block;
            }
            .tweet{
                font-family : Arial, Helvetica, sans-serif;
                font-size: 13px;
                margin-top : 0px;
                margin-bottom: 0px;
            }
            .profile-info{
                margin-top : 0px;
                margin-bottom: 6px;
            }
            .tweet-popinion{
                font-size : 10px;
                font-family : Arial, Helvetica, sans-serif;
            }
            .comments , .retweet , .tweet-like{
                margin-left : 50px;
            }
            .twitter-profile{
                display: inline-block;
                margin-left : 10px;
            }
            .twitter-desc{
                display : inline-block;
                margin-left : 10px;
            }
            .comments , .retweet , .tweet-like{
                transition : color 0.4s;
            }
            .comments:hover{
                color : rgb(11, 204, 11);
            }
            .retweet:hover{
                color : rgb(208, 5, 5);
            }
            .tweet-like:hover{
                color : rgb(78, 150, 244);
            }
            .twitter{
                background-color: rgb(19, 19, 19);
                color : white;
                width : 410px;
                margin-top : 50px;
                margin-bottom : 50px;
            }
    </style>

    <!-- <% user.posts.forEach((post, index) => { %>

        <div class="twitter">
            <div class="twitter-profile">
                <img class="twitter-personalprofile"src="cat.jpeg" alt="cat">
            </div>
            <div class="twitter-desc">
                <p class="profile-info"><span class="name"><%=post.name%></span><span class="username">@elonmusk . 5 Jun</span><span class="twitter-options">&hellip;</span></p>
                <p class="tweet">Some hate humanity, but I love humanity so much</p>
                <p class="tweet-popinion"><span class="comments">100k</span><span class="retweet">100k</span><span class="tweet-like">100k</span></p>
            </div>
        </div>

    <% }) %> -->

    <script>
        function submitForm() {
            var searchQuery = document.getElementById("searchInput").value;
            fetch("http://localhost:5554/product?search=" + encodeURIComponent(searchQuery))
                .then(response => response.json())
                .then(data => {
                    var htmlContent = "<ul>";
                    data.forEach(product => {
                        htmlContent += 
                        `
                        <div class="product">
                            <div class="product-1">
                                <img src="/Users/shivansh/Desktop/S-Commerce/kitty.jpeg" alt="">
                                <button class="wishlist"><img src="./heart.jpeg" alt=""></button>
                            </div>
                            <div class="product-2">
                                <div class="p-21">
                                    <div class="product-name">
                                        <p style="margin-top : 5px;">${product.name}</p>
                                    </div>
                                    <div class="product-desc">
                                        <p>• ${product.description}</p>
                                    </div>
                                </div>
                                <div class="p-22">
                                    <button class="fuck">$${product.price}</button>
                                    <button class="fuck2">Add to cart</button>
                                </div>
                            </div>
                        </div>
                        `;
                    });
                    htmlContent += "</ul>";
                    document.getElementById("searchResults").innerHTML = htmlContent;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
