<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <style>
        .main{
            display : flex;
            flex-direction : row;
            justify-content: center;
        }

        .input{
            height : 40px;
            width : 400px;
            padding-left: 20px;
            border-style : none;
            background-color: rgb(232, 232, 232);
            color: black;
        }

        .btn{
            height : 40px;
            width : 100px;
            border-style: none;
        }
    </style>

    <form id="searchForm" action="http://localhost:5554/product" method="get">
        <div class="main">
            <div class="box">
                <input class="input" type="text" placeholder="Search" name="search" id="searchInput">
                <button class="btn" type="button" onclick="submitForm()">Search</button>
            </div>
        </div>
    </form>

    <script>
        function submitForm() {
            var searchQuery = document.getElementById("searchInput").value;
            var form = document.getElementById("searchForm");
            form.action = "http://localhost:5554/product?search=" + encodeURIComponent(searchQuery);
            form.submit();
        }
    </script>
</body>
</html>
