<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <style>
        .main {
            margin-top : 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .input {
            height: 40px;
            width: 400px;
            padding-left: 20px;
            border-style: none;
            background-color: rgb(232, 232, 232);
            color: black;
        }

        .btn {
            height: 40px;
            width: 100px;
            border-style: none;
        }

        #searchResults {
            margin-top: 20px;
        }

        .heading{
            font-family: Arial, Helvetica, sans-serif;
        }

        .product{
            height : 150px;
            width : 400px;
            background-color: rgb(255, 237, 231);
            margin-top : 20px;
            display : flex;
            flex-direction : row;
        }

        .product-1{
            height : 150px;
            width : 150px;
            background-color: lightgrey;
        }

        .product-2{
            height : 150px;
            width : 200px;
            background-color: rgb(214, 237, 251);
        }

        .p-21{
            height : 120px;
            width : 250px;
            background-color: rgb(247, 211, 211);
        }

        .p-22{
            height : 30px;
            width : 250px;
            background-color: rgb(237, 204, 237);
            font-family: Arial, Helvetica, sans-serif;
            display : flex;
            align-items: center;
        }

        .product-name{
            font-family: Arial, Helvetica, sans-serif;
            display : flex;
            flex-direction : row;
            margin-left : 10px;
            font-weight : bold;
        }

        .product-desc{
            font-family: Arial, Helvetica, sans-serif;
            margin-left : 10px;
            color : gray;
            font-size : small;
        }

        .fuck{
            margin-left : 10px;
        }
        
        .weareone{
            margin-top : 10px;
            display : grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap : 10px;
            row-gap: 10px;
        }
    </style>

    <div class="main">
        <div class="box">
            <input class="input" type="text" placeholder="Search" name="search" id="searchInput">
            <button class="btn" type="button" onclick="submitForm()">Search</button>
        </div>
    </div>

    <div id="searchResults"></div>

    <script>
        function submitForm() {
            var searchQuery = document.getElementById("searchInput").value;
            fetch("http://localhost:5554/product?search=" + encodeURIComponent(searchQuery))
                .then(response => response.json())
                .then(data => {
                    var htmlContent = "<ul>";
                    data.forEach(product => {
                        htmlContent += 
                        `<div class="weareone">
                            <div class="product">
                                <div class="product-1">
                                    <img src="/Users/shivansh/Desktop/S-Commerce/kitty.jpeg" alt="">
                                </div>
                                <div class="product-2">
                                    <div class="p-21">
                                        <div class="product-name">
                                            <p>${product.name}</p>
                                        </div>
                                        <div class="product-desc">
                                            <p>• ${product.description}</p>
                                        </div>
                                    </div>
                                    <div class="p-22">
                                        <p class="fuck">$${product.price}</p>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                    });
                    htmlContent += "</ul>";
                    document.getElementById("searchResults").innerHTML = htmlContent;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
