<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .left{
            position : fixed;
            left : 0px;
            bottom : 0px;
            top : 80px;
            width : 270px;
            background-color: rgb(238, 214, 214);
        }

        .top{
            position : fixed;
            left : 0px;
            right : 0px;
            top : 0px;
            height : 100px;
            z-index: 100;
            background-color: lightcoral;
        }

        .one{
            background-color: aqua;
            height : 100;
            width : 300px;
        }
    </style>

    <div class="top">
        <div class="one">
        </div>
        <div class="two"></div>
    </div>
    <div class="left"></div>

    
</body>
</html>